.shape-select {
  width: fit-content;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 2px solid #ddd;
  align-items: center;
}

.shape-button {
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
  user-select: none;
  cursor: pointer;
}

.shape-button:hover {
  background-color: #eaeaea;
}

.shape-button:active {
  background-color: #e4e4e4;
}

.selected {
  background-color: blue;
}

.selected:hover {
  background-color: #0000cc;
}

.selected:active {
  background-color: #000099;
}